@charset "utf-8";
body{
  margin: 0 auto;
  max-width: 375px;
  font-family: "맑은 고딕", arial, sans-serif;
  font-size: 12px;
  color: #333;
  overflow-x: hidden;
}
a{
  color: #333;
  text-decoration: none;
}
#toggle{display: none;}
header{
  position: relative;
  height: 50px;
  padding-top: 5px;
  display: flex;
}
header > h1{
  position: absolute;
  left: 60px;
  width: 50px;
  height: 45px;
  background-image: url(../m_images/sp_header.png);
  background-position: -143px -44px;
  background-size: 400px;
  text-indent: -9999px;
}
header > h1 > a{
  display: block;
  height: 45px;
}
.total_btn, label[for=search_box], .cart_btn, .my_btn{
  display: block;
  text-indent: -9999px;
  background-image: url(../m_images/sp_header.png);
  background-size: 400px;
}
.total_btn{
  position: absolute;
  left: 10px;
  width: 46px;
  height: 45px;
  background-position: 0 -102px;
  background-size: 400px;
}
form{position: relative;}
fieldset{
  width: 170px;
  position: absolute;
  top: 5px;
  left: 110px;
  height: 35px;
  border: 1px solid #3B78CE;
  border-radius: 3px;
}
fieldset > legend{display: none;}
#search_box{
  width: 150px;
  height: 35px;
  border: none;
}
label[for=search_box]{
  position: absolute;
  top: 6px;
  left: 140px;
  width: 27px;
  height: 25px;
  background-position: -40px 0;
}
.cart_btn{
  position: absolute;
  top: 12px;
  right: 52px;
  width: 36px;
  height: 34px;
  background-position: -71px 0;
}
.my_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 34px;
  background-position: -46px -102px;
}

/* 메인메뉴 서식 */
.gnb{
  width: 100%;
  height: 40px;
  background: #2b87de;
}
.gnb > ul{
  display: flex;
  justify-content: space-around;
}
.gnb a{
  display: block;
  color: #fff;
  line-height: 40px;
  font-size: 1rem; /* 1rem = 100% =16px */
  font-weight: bold;
}
/* 메뉴클릭시 초점이 들어간 요소를 선택하여 서식을 적용 */
.gnb a:focus::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;
  top: -3px;
}

/* 하단 고정 내비게이션 */
.bottom_nav{
  position: fixed;
  bottom: 0;
  z-index: 9999;
}
.bottom_nav > ul{
  width: 375px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-top: 1px solid #ccc;
}
.bottom_nav > ul > li{
  text-align: center;
  width: 20%;
  height: 60px;
}
.bottom_nav a{font-size: 0.75rem;}
.icon01, .icon02, .icon03, .icon04, .icon05{
  display: block;
  width: 50px;
  height: 36px;
  background-image: url(../m_images/sprite__header.png);
  margin: 5px auto;
  background-size: 400px;
}
.icon01{background-position: -175px 0;}
.icon02{background-position: -224px 0;}
.icon03{
  width: 30px;
  background-position: -272px 0;
}
.icon04{
  width: 25px;
  background-position: -306px 0;
}
.icon05{
  width: 30px;
  background-position: -335px 0;
}
.bottom_nav a:focus{color: #2b87de;font-weight: bold;}
.bottom_nav a:focus .icon01{background-position: -175px -56px;}
.bottom_nav a:focus .icon02{background-position: -224px -56px;}
.bottom_nav a:focus .icon03{background-position: -272px -56px;}
.bottom_nav a:focus .icon04{background-position: -306px -56px;}
.bottom_nav a:focus .icon05{background-position: -335px -56px;}

/* 메인서식 */
main{position: relative;}
main img{
  width: 100%;
}

/* 푸터서식 */
footer{
  background: #2b303c;
  padding: 30px 0 70px 0;
  color: #fff;
  text-align: center;
}
.f_btn{
  background: #4f5562;
  color: #fff;
  padding: 4px 10px;
}
footer h3{
  padding: 20px 0 10px 0;
}
#f_toggle{
  display: none;
}
#f_toggle:checked + address{
  display: block;
}
footer label[for=f_toggle]{
  border: 1px solid #fff;
  padding: 0 4px;
  border-radius: 50%;
  background: #2b303c;
  cursor: pointer;
}
footer address{
  display: none;
  font-style: normal;
  background: #4d4d4d;
  padding: 10px 0;
  font-size: 11px;
}
footer address dl{
  width: 360px;
  margin: 0 auto;
  line-height: 120%;
}
footer address dl::after{
  clear: both;
  display: block;
  content: "";
}
footer address dt{
  float: left;
  clear: left;
  color: #ccc;
  width: 90px;
  text-align: left;
}
footer address dd{
  width: 260px;
  float: left;
  text-align: left;
  padding-left: 10px;
}
.f_lnb a, p{
  color: #fff;
  font-size: 11px;
  padding-top: 10px;
}

/* top 버튼 서식 */
.top_btn{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 22px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 10%;
  background: #fff;
}
.top_btn .top{
  width: 22px;
  height: 20px;
  background-image: url(../m_images/sp_module.png);
  background-position: -54px 3px;
  background-size: 150px;
}
.top_btn span{
  display: block;
  text-align: center;
  font-size: 10px;
}
